:root {
  --primary-color: #071d59;
  --secondary-color: #fbaa41;
  --gray-color: #cccedb;
  --black-color: #444356;
  --white-color: #ffffff;
  --green-color: #32aa51;
  --red-color: #aa3a32;
  overflow: hidden;
}

.text {
  font-family: Inter, sans-serif;
  font-size: 15px;
  
}

.bold-text {
  font-weight: 600; /* Semi-bold */
}
.light-text {
  font-weight: 400; /* Light */
}
.small-text {
  font-size: 10px;
}
h1 {
  letter-spacing: 0;
  font-size: 32px;
}
h2 {
  letter-spacing: 0;
  font-size: 18px;
}