.container {
  display: grid;
  grid-template-columns: 3fr 15fr 10fr 3fr;
  grid-template-rows: repeat(3, 2fr) 19fr 2fr repeat(2, 3fr);
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  height:100vh;
  overflow: hidden;
  width:1112px;
 
}

.close-area {
  grid-area: 2 / 2 / 3 / 2;
}
.left-area {
  grid-area: 4 / 2 / 5 / 3;
  
}
.right-area {
  grid-area: 4 / 3 / 5 / 4;
}
.title-area {
  grid-area: 2 / 2 / 3 / 4;

}
.footer-area {
  grid-area: 6 / 2 / 7 / 4;
}

.centered{
  margin:auto;
}



.left-container {
  height:100%;
  display: grid;
  padding-right: 3vw;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr repeat(3, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 0px;
  }
  
  .left-contianed-p1 { grid-area: 1 / 1 / 2 / 2; }
  .left-contianed-p2 { grid-area: 2 / 1 / 3 / 2; }
  .left-contianed-p3 { grid-area: 3 / 1 / 4 / 2; }
  .left-contianed-p4 { grid-area: 4 / 1 / 6 / 2; }
  .left-contianed-p5 { grid-area: 5 / 1 / 6 / 2; }

  .right-container {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 1px;
    grid-row-gap: 0px;
    }
    
    .right-contained-1 { grid-area: 1 / 1 / 2 / 2; }
    .right-contained-2 { grid-area: 2 / 1 / 3 / 2; }
    .right-contained-3 { grid-area: 3 / 1 / 4 / 2; }
    .right-contained-4 { grid-area: 4 / 1 / 7 / 2; }