input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}

input[type="radio"] + label {
  cursor: pointer;
}

input[type="radio"]:checked + label {
  cursor: default;
}
